@theme {
  --color-gray-50: oklch(96.5% 0.004 286.63);
  --color-gray-100: oklch(93.17% 0.007 277.29);
  --color-gray-200: oklch(86.29% 0.014 281.6);
  --color-gray-300: oklch(78.6% 0.023 280.22);
  --color-gray-400: oklch(71.75% 0.03 281.31);
  --color-gray-500: oklch(64.74% 0.039 281.8);
  --color-gray-600: oklch(57.99% 0.045 278.77);
  --color-gray-700: oklch(51.18% 0.049 278.79);
  --color-gray-800: oklch(43.55% 0.043 279.34);
  --color-gray-900: oklch(28.57% 0.028 278.59);
  --color-gray-950: oklch(21.77% 0.022 280.4);
  --color-rosewater-50: oklch(95.72% 0.012 29.98);
  --color-rosewater-100: oklch(92.26% 0.024 30.55);
  --color-rosewater-200: oklch(84.16% 0.054 32.7);
  --color-rosewater-300: oklch(76% 0.092 34.45);
  --color-rosewater-400: oklch(66.8% 0.123 38.77);
  --color-rosewater-500: oklch(58.02% 0.108 38.5);
  --color-rosewater-600: oklch(49.1% 0.091 38.35);
  --color-rosewater-700: oklch(40.39% 0.075 37.5);
  --color-rosewater-800: oklch(31.75% 0.058 39.12);
  --color-rosewater-900: oklch(22.82% 0.042 39.11);
  --color-rosewater-950: oklch(18.04% 0.033 37.27);
  --color-flamingo-50: oklch(96.59% 0.011 17.51);
  --color-flamingo-100: oklch(94.15% 0.019 17.58);
  --color-flamingo-200: oklch(87.97% 0.042 18.01);
  --color-flamingo-300: oklch(79.4% 0.078 18.97);
  --color-flamingo-400: oklch(70.38% 0.128 20.82);
  --color-flamingo-500: oklch(61.79% 0.188 24.48);
  --color-flamingo-600: oklch(52.77% 0.159 24.41);
  --color-flamingo-700: oklch(42.91% 0.131 24.51);
  --color-flamingo-800: oklch(33.11% 0.1 24.45);
  --color-flamingo-900: oklch(24.26% 0.074 24.5);
  --color-flamingo-950: oklch(18.37% 0.055 24.33);
  --color-pink-50: oklch(96.71% 0.017 334.31);
  --color-pink-100: oklch(93.52% 0.036 335.8);
  --color-pink-200: oklch(87% 0.075 336.33);
  --color-pink-300: oklch(78.44% 0.135 336.46);
  --color-pink-400: oklch(70.68% 0.196 336.64);
  --color-pink-500: oklch(61.4% 0.209 336.98);
  --color-pink-600: oklch(52.28% 0.179 336.59);
  --color-pink-700: oklch(42.41% 0.144 337.18);
  --color-pink-800: oklch(33.36% 0.113 336.97);
  --color-pink-900: oklch(23.44% 0.08 337.6);
  --color-pink-950: oklch(18.54% 0.064 336.55);
  --color-mauve-50: oklch(96.58% 0.018 303.52);
  --color-mauve-100: oklch(92.65% 0.038 304.13);
  --color-mauve-200: oklch(85.98% 0.076 304.61);
  --color-mauve-300: oklch(78.71% 0.119 304.79);
  --color-mauve-400: oklch(69.94% 0.173 305.26);
  --color-mauve-500: oklch(62.13% 0.226 306.04);
  --color-mauve-600: oklch(53.13% 0.24 306.22);
  --color-mauve-700: oklch(44.01% 0.199 306.34);
  --color-mauve-800: oklch(33.84% 0.154 306.22);
  --color-mauve-900: oklch(24.8% 0.112 306.26);
  --color-mauve-950: oklch(18.66% 0.086 306.49);
  --color-maroon-50: oklch(96.62% 0.011 10.51);
  --color-maroon-100: oklch(92.62% 0.026 8.69);
  --color-maroon-200: oklch(85.3% 0.057 8.76);
  --color-maroon-300: oklch(78.21% 0.09 8.87);
  --color-maroon-400: oklch(69.78% 0.139 9.37);
  --color-maroon-500: oklch(60.92% 0.181 10.37);
  --color-maroon-600: oklch(51.98% 0.156 10.02);
  --color-maroon-700: oklch(42.05% 0.126 10.18);
  --color-maroon-800: oklch(33.29% 0.099 10.29);
  --color-maroon-900: oklch(23.2% 0.07 9.56);
  --color-maroon-950: oklch(18.58% 0.055 10.35);
  --color-peach-50: oklch(96.67% 0.016 46.63);
  --color-peach-100: oklch(94.27% 0.028 48.43);
  --color-peach-200: oklch(88.42% 0.061 49.62);
  --color-peach-300: oklch(82.37% 0.101 52.63);
  --color-peach-400: oklch(72.54% 0.151 59.35);
  --color-peach-500: oklch(63% 0.131 59.12);
  --color-peach-600: oklch(53.39% 0.111 59.49);
  --color-peach-700: oklch(43.81% 0.091 59.24);
  --color-peach-800: oklch(33.16% 0.068 59.42);
  --color-peach-900: oklch(23.66% 0.049 59.34);
  --color-peach-950: oklch(19.14% 0.04 58.84);
  --color-yellow-50: oklch(95.83% 0.034 84.57);
  --color-yellow-100: oklch(91.93% 0.07 86.52);
  --color-yellow-200: oklch(83.66% 0.122 90.28);
  --color-yellow-300: oklch(74.13% 0.108 89.73);
  --color-yellow-400: oklch(65.46% 0.095 90.22);
  --color-yellow-500: oklch(56.92% 0.083 90.31);
  --color-yellow-600: oklch(48.4% 0.071 90.46);
  --color-yellow-700: oklch(39.59% 0.058 89.36);
  --color-yellow-800: oklch(30.91% 0.045 89.93);
  --color-yellow-900: oklch(22.4% 0.033 92.15);
  --color-yellow-950: oklch(17.54% 0.026 89.46);
  --color-green-50: oklch(96.14% 0.031 142.28);
  --color-green-100: oklch(92.24% 0.069 143.08);
  --color-green-200: oklch(85.77% 0.109 142.7);
  --color-green-300: oklch(76.53% 0.097 142.84);
  --color-green-400: oklch(68.19% 0.087 142.59);
  --color-green-500: oklch(58.7% 0.075 142.77);
  --color-green-600: oklch(49.41% 0.063 143.08);
  --color-green-700: oklch(40.74% 0.052 142.68);
  --color-green-800: oklch(31.5% 0.041 143.26);
  --color-green-900: oklch(22.88% 0.028 142.55);
  --color-green-950: oklch(17.52% 0.022 141.82);
  --color-teal-50: oklch(96.19% 0.032 182.19);
  --color-teal-100: oklch(92.27% 0.068 182.25);
  --color-teal-200: oklch(85.85% 0.079 182.73);
  --color-teal-300: oklch(76.6% 0.07 182.94);
  --color-teal-400: oklch(68.17% 0.063 182.49);
  --color-teal-500: oklch(58.9% 0.055 181.45);
  --color-teal-600: oklch(49.33% 0.045 183.69);
  --color-teal-700: oklch(40.9% 0.038 183.12);
  --color-teal-800: oklch(31.63% 0.03 182.11);
  --color-teal-900: oklch(22.92% 0.021 185.25);
  --color-teal-950: oklch(17.52% 0.017 181.64);
  --color-sapphire-50: oklch(96.47% 0.014 237.96);
  --color-sapphire-100: oklch(92.85% 0.028 234.83);
  --color-sapphire-200: oklch(85.78% 0.061 232.58);
  --color-sapphire-300: oklch(79.06% 0.096 228.64);
  --color-sapphire-400: oklch(70.18% 0.088 227.72);
  --color-sapphire-500: oklch(60.63% 0.077 229.16);
  --color-sapphire-600: oklch(51.23% 0.064 228.46);
  --color-sapphire-700: oklch(41.78% 0.053 229.74);
  --color-sapphire-800: oklch(32.47% 0.041 229.82);
  --color-sapphire-900: oklch(23.14% 0.029 227.45);
  --color-sapphire-950: oklch(17.38% 0.022 230.4);
  --color-blue-50: oklch(95.74% 0.019 266.01);
  --color-blue-100: oklch(92.37% 0.033 265.24);
  --color-blue-200: oklch(84.65% 0.071 263.7);
  --color-blue-300: oklch(76.64% 0.111 259.88);
  --color-blue-400: oklch(67.36% 0.164 253.7);
  --color-blue-500: oklch(58.74% 0.157 252.34);
  --color-blue-600: oklch(50.1% 0.133 251.99);
  --color-blue-700: oklch(40.49% 0.108 252.21);
  --color-blue-800: oklch(31.82% 0.085 252.5);
  --color-blue-900: oklch(22.37% 0.06 251.68);
  --color-blue-950: oklch(17.67% 0.048 253.48);
}
