@theme {
  --color-blue-gray-50: oklch(96.57% 0.005 247.84);
  --color-blue-gray-100: oklch(92.14% 0.011 243.63);
  --color-blue-gray-200: oklch(85.34% 0.022 241.37);
  --color-blue-gray-300: oklch(77.38% 0.035 239.97);
  --color-blue-gray-400: oklch(69.77% 0.032 239.04);
  --color-blue-gray-500: oklch(62.02% 0.029 239.35);
  --color-blue-gray-600: oklch(55.08% 0.026 242.19);
  --color-blue-gray-700: oklch(47.41% 0.022 238.17);
  --color-blue-gray-800: oklch(39.58% 0.019 242.2);
  --color-blue-gray-900: oklch(32.39% 0.015 240.41);
  --color-blue-gray-950: oklch(23.17% 0.011 242.18);
  --color-eggplant-50: oklch(96.67% 0.003 355.3);
  --color-eggplant-100: oklch(93.23% 0.01 345.63);
  --color-eggplant-200: oklch(86.37% 0.021 345.86);
  --color-eggplant-300: oklch(79.8% 0.033 347.32);
  --color-eggplant-400: oklch(72.99% 0.048 346.06);
  --color-eggplant-500: oklch(66.43% 0.064 345.74);
  --color-eggplant-600: oklch(59.5% 0.066 346.06);
  --color-eggplant-700: oklch(52.5% 0.058 345.03);
  --color-eggplant-800: oklch(45.38% 0.051 344.56);
  --color-eggplant-900: oklch(38.29% 0.042 345.8);
  --color-eggplant-950: oklch(26.27% 0.029 344.53);
  --color-seafoam-50: oklch(96.3% 0.015 158.11);
  --color-seafoam-100: oklch(92.71% 0.033 156.46);
  --color-seafoam-200: oklch(84.83% 0.047 156.85);
  --color-seafoam-300: oklch(77.91% 0.044 156.91);
  --color-seafoam-400: oklch(70.28% 0.039 157.59);
  --color-seafoam-500: oklch(63.34% 0.035 157.77);
  --color-seafoam-600: oklch(55.59% 0.031 156.73);
  --color-seafoam-700: oklch(48.9% 0.027 156.85);
  --color-seafoam-800: oklch(41.61% 0.023 157.02);
  --color-seafoam-900: oklch(27.42% 0.017 155.93);
  --color-seafoam-950: oklch(20.56% 0.012 155.99);
  --color-blue-50: oklch(96.6% 0.009 232.28);
  --color-blue-100: oklch(92.92% 0.019 235.7);
  --color-blue-200: oklch(85.17% 0.043 231.78);
  --color-blue-300: oklch(78.17% 0.064 231.23);
  --color-blue-400: oklch(71.13% 0.058 231.35);
  --color-blue-500: oklch(63.52% 0.052 230.88);
  --color-blue-600: oklch(56.69% 0.047 230.22);
  --color-blue-700: oklch(49.01% 0.04 230.19);
  --color-blue-800: oklch(42.09% 0.035 231.31);
  --color-blue-900: oklch(28.36% 0.023 230.18);
  --color-blue-950: oklch(20.61% 0.018 230.3);
  --color-olive-50: oklch(96.46% 0.02 100.53);
  --color-olive-100: oklch(92.98% 0.033 101.38);
  --color-olive-200: oklch(85.3% 0.031 102.94);
  --color-olive-300: oklch(78.3% 0.026 99.6);
  --color-olive-400: oklch(70.58% 0.024 101.47);
  --color-olive-500: oklch(63.74% 0.022 100.74);
  --color-olive-600: oklch(55.94% 0.02 103.38);
  --color-olive-700: oklch(49.01% 0.017 102.73);
  --color-olive-800: oklch(41.46% 0.015 101.79);
  --color-olive-900: oklch(27.61% 0.009 97.64);
  --color-olive-950: oklch(20.75% 0.008 107.02);
  --color-red-50: oklch(96.59% 0.011 17.51);
  --color-red-100: oklch(92.53% 0.025 17.68);
  --color-red-200: oklch(85.04% 0.055 16.92);
  --color-red-300: oklch(77.81% 0.089 18.4);
  --color-red-400: oklch(70.86% 0.128 19.63);
  --color-red-500: oklch(62.55% 0.186 22.84);
  --color-red-600: oklch(52.76% 0.162 22.96);
  --color-red-700: oklch(43.01% 0.133 23.07);
  --color-red-800: oklch(33.19% 0.103 23.21);
  --color-red-900: oklch(24.15% 0.075 22.55);
  --color-red-950: oklch(18.37% 0.055 24.33);
  --color-orange-50: oklch(96.73% 0.011 39.55);
  --color-orange-100: oklch(93.27% 0.022 35.17);
  --color-orange-200: oklch(87.48% 0.043 39.85);
  --color-orange-300: oklch(80.75% 0.073 41.14);
  --color-orange-400: oklch(74.98% 0.106 44.86);
  --color-orange-500: oklch(64.72% 0.106 46.28);
  --color-orange-600: oklch(55.04% 0.09 45.78);
  --color-orange-700: oklch(44.61% 0.072 46.87);
  --color-orange-800: oklch(34.21% 0.056 47.5);
  --color-orange-900: oklch(24.47% 0.04 46.84);
  --color-orange-950: oklch(18.95% 0.031 44.5);
  --color-yellow-50: oklch(96.66% 0.016 79.33);
  --color-yellow-100: oklch(93.98% 0.031 76.96);
  --color-yellow-200: oklch(87.27% 0.081 83.13);
  --color-yellow-300: oklch(80.82% 0.086 83.69);
  --color-yellow-400: oklch(71.65% 0.077 84.45);
  --color-yellow-500: oklch(61.31% 0.065 83.54);
  --color-yellow-600: oklch(51.88% 0.055 83.42);
  --color-yellow-700: oklch(42.36% 0.045 83.25);
  --color-yellow-800: oklch(32.65% 0.034 82.95);
  --color-yellow-900: oklch(23.37% 0.025 85.77);
  --color-yellow-950: oklch(18.97% 0.02 84.1);
  --color-green-50: oklch(96.2% 0.057 125.77);
  --color-green-100: oklch(91.41% 0.107 125.85);
  --color-green-200: oklch(84.52% 0.098 125.34);
  --color-green-300: oklch(77.32% 0.091 125.77);
  --color-green-400: oklch(68.44% 0.081 126.14);
  --color-green-500: oklch(59.01% 0.07 125.81);
  --color-green-600: oklch(50.49% 0.06 125.96);
  --color-green-700: oklch(40.95% 0.048 125.33);
  --color-green-800: oklch(31.5% 0.037 125.4);
  --color-green-900: oklch(22.95% 0.027 124.42);
  --color-green-950: oklch(17.42% 0.021 125.98);
  --color-aqua-50: oklch(95.08% 0.04 152.09);
  --color-aqua-100: oklch(91.31% 0.078 151.97);
  --color-aqua-200: oklch(83.39% 0.102 151.3);
  --color-aqua-300: oklch(75.36% 0.091 151.44);
  --color-aqua-400: oklch(66.44% 0.081 150.93);
  --color-aqua-500: oklch(57.84% 0.07 151.57);
  --color-aqua-600: oklch(49.23% 0.06 151.56);
  --color-aqua-700: oklch(39.92% 0.048 150.69);
  --color-aqua-800: oklch(31.46% 0.037 151.63);
  --color-aqua-900: oklch(21.96% 0.025 153.67);
  --color-aqua-950: oklch(17.41% 0.021 153.37);
  --color-cyan-50: oklch(95.21% 0.038 186.3);
  --color-cyan-100: oklch(91.4% 0.073 185.2);
  --color-cyan-200: oklch(82.82% 0.07 185.55);
  --color-cyan-300: oklch(74.87% 0.063 185.47);
  --color-cyan-400: oklch(66.47% 0.055 186.7);
  --color-cyan-500: oklch(57.09% 0.047 186.6);
  --color-cyan-600: oklch(48.59% 0.041 186.92);
  --color-cyan-700: oklch(40.09% 0.033 184.4);
  --color-cyan-800: oklch(31.52% 0.026 188.06);
  --color-cyan-900: oklch(22.22% 0.019 183.95);
  --color-cyan-950: oklch(17.61% 0.015 180.52);
  --color-purple-50: oklch(96.74% 0.008 349.5);
  --color-purple-100: oklch(93.28% 0.019 347.56);
  --color-purple-200: oklch(87.51% 0.035 350.14);
  --color-purple-300: oklch(80.96% 0.058 350.04);
  --color-purple-400: oklch(75.01% 0.082 349.2);
  --color-purple-500: oklch(65.49% 0.127 348.95);
  --color-purple-600: oklch(55.84% 0.117 348.81);
  --color-purple-700: oklch(45.13% 0.094 348.81);
  --color-purple-800: oklch(34.45% 0.072 348.97);
  --color-purple-900: oklch(24.84% 0.052 349.23);
  --color-purple-950: oklch(19.17% 0.04 348.87);
}
