@theme {
  --color-gray-50: oklch(95.64% 0.004 236.35);
  --color-gray-100: oklch(92.12% 0.008 228.75);
  --color-gray-200: oklch(83.5% 0.017 215.41);
  --color-gray-300: oklch(75.78% 0.016 218.02);
  --color-gray-400: oklch(67.86% 0.014 221.44);
  --color-gray-500: oklch(60.27% 0.013 217.54);
  --color-gray-600: oklch(51.58% 0.01 225.15);
  --color-gray-700: oklch(43.79% 0.009 228.99);
  --color-gray-800: oklch(35.99% 0.008 223.57);
  --color-gray-900: oklch(28.55% 0.006 214.32);
  --color-gray-950: oklch(24.08% 0.005 219.61);
  --color-red-50: oklch(96.61% 0.015 17.53);
  --color-red-100: oklch(93.54% 0.031 20.22);
  --color-red-200: oklch(86.2% 0.071 21.88);
  --color-red-300: oklch(79.69% 0.111 23.23);
  --color-red-400: oklch(72.58% 0.161 25.85);
  --color-red-500: oklch(65.97% 0.218 30.39);
  --color-red-600: oklch(55.69% 0.199 31.97);
  --color-red-700: oklch(45.95% 0.164 31.93);
  --color-red-800: oklch(34.97% 0.125 31.84);
  --color-red-900: oklch(25.31% 0.09 32.24);
  --color-red-950: oklch(19.67% 0.07 31.84);
  --color-green-50: oklch(95.74% 0.198 110.84);
  --color-green-100: oklch(91.46% 0.189 110.58);
  --color-green-200: oklch(83.77% 0.173 110.7);
  --color-green-300: oklch(76.52% 0.158 110.83);
  --color-green-400: oklch(67.52% 0.139 111.03);
  --color-green-500: oklch(58.29% 0.12 110.75);
  --color-green-600: oklch(49.61% 0.103 111.01);
  --color-green-700: oklch(40.27% 0.083 110.52);
  --color-green-800: oklch(31.78% 0.065 110.82);
  --color-green-900: oklch(22.26% 0.045 111.5);
  --color-green-950: oklch(17.55% 0.036 112.16);
  --color-yellow-50: oklch(97.5% 0.018 70.24);
  --color-yellow-100: oklch(94.16% 0.044 73.86);
  --color-yellow-200: oklch(89.1% 0.091 77.48);
  --color-yellow-300: oklch(83.25% 0.159 82.98);
  --color-yellow-400: oklch(73.56% 0.141 83.14);
  --color-yellow-500: oklch(63.22% 0.121 83.17);
  --color-yellow-600: oklch(53.67% 0.103 82.41);
  --color-yellow-700: oklch(43.43% 0.083 83.03);
  --color-yellow-800: oklch(33.78% 0.065 84.13);
  --color-yellow-900: oklch(23.26% 0.045 81.65);
  --color-yellow-950: oklch(18.9% 0.036 84.8);
  --color-blue-50: oklch(96.26% 0.019 171.4);
  --color-blue-100: oklch(91.63% 0.047 169.04);
  --color-blue-200: oklch(83.78% 0.05 170.35);
  --color-blue-300: oklch(76.94% 0.046 169.05);
  --color-blue-400: oklch(69.27% 0.042 169.74);
  --color-blue-500: oklch(59.83% 0.036 169.14);
  --color-blue-600: oklch(50.63% 0.031 169.21);
  --color-blue-700: oklch(40.99% 0.025 169.31);
  --color-blue-800: oklch(32.6% 0.021 166.98);
  --color-blue-900: oklch(23.02% 0.013 170.3);
  --color-blue-950: oklch(17.5% 0.01 172.73);
  --color-purple-50: oklch(96.69% 0.008 7.54);
  --color-purple-100: oklch(92.45% 0.019 1.51);
  --color-purple-200: oklch(84.94% 0.041 2.63);
  --color-purple-300: oklch(77.68% 0.067 3.12);
  --color-purple-400: oklch(70.54% 0.098 2.21);
  --color-purple-500: oklch(62.03% 0.136 1.84);
  --color-purple-600: oklch(52.25% 0.115 2.33);
  --color-purple-700: oklch(42.53% 0.094 2.45);
  --color-purple-800: oklch(32.77% 0.072 1.75);
  --color-purple-900: oklch(23.95% 0.053 2.21);
  --color-purple-950: oklch(18.31% 0.039 1.6);
  --color-aqua-50: oklch(95.12% 0.053 138.3);
  --color-aqua-100: oklch(91.23% 0.11 138.01);
  --color-aqua-200: oklch(83.35% 0.119 137.81);
  --color-aqua-300: oklch(75.55% 0.108 137.67);
  --color-aqua-400: oklch(66.34% 0.095 137.35);
  --color-aqua-500: oklch(57.74% 0.081 137.48);
  --color-aqua-600: oklch(49.39% 0.07 137.37);
  --color-aqua-700: oklch(39.96% 0.058 137.86);
  --color-aqua-800: oklch(31.48% 0.045 137.78);
  --color-aqua-900: oklch(22.05% 0.03 137.03);
  --color-aqua-950: oklch(17.46% 0.025 137.2);
  --color-orange-50: oklch(96.8% 0.016 36.6);
  --color-orange-100: oklch(93.44% 0.034 35.93);
  --color-orange-200: oklch(86.06% 0.077 40.72);
  --color-orange-300: oklch(79.58% 0.123 44.58);
  --color-orange-400: oklch(73.11% 0.182 51.69);
  --color-orange-500: oklch(63.35% 0.16 51.8);
  --color-orange-600: oklch(53.71% 0.136 51.78);
  --color-orange-700: oklch(43.11% 0.109 51.99);
  --color-orange-800: oklch(33.39% 0.084 51.65);
  --color-orange-900: oklch(23.84% 0.059 51.91);
  --color-orange-950: oklch(19.38% 0.049 53.17);
  --color-brown-50: oklch(96.59% 0.004 56.51);
  --color-brown-100: oklch(92.3% 0.01 58.25);
  --color-brown-200: oklch(85.44% 0.023 58.75);
  --color-brown-300: oklch(77.71% 0.033 59.59);
  --color-brown-400: oklch(70.01% 0.029 63.77);
  --color-brown-500: oklch(62.31% 0.026 63.25);
  --color-brown-600: oklch(55.05% 0.023 62.57);
  --color-brown-700: oklch(44.92% 0.02 64.31);
  --color-brown-800: oklch(34.6% 0.014 62.96);
  --color-brown-900: oklch(24.24% 0.01 67.35);
  --color-brown-950: oklch(18.92% 0.008 67.33);
}
