@theme {
  --color-gray-50: oklch(95.57% 0.003 286.8);
  --color-gray-100: oklch(92.28% 0.004 286.61);
  --color-gray-200: oklch(84.39% 0.008 286.35);
  --color-gray-300: oklch(76% 0.013 286.17);
  --color-gray-400: oklch(68.06% 0.019 285.93);
  --color-gray-500: oklch(60.49% 0.023 285.74);
  --color-gray-600: oklch(52.69% 0.026 285.48);
  --color-gray-700: oklch(44.14% 0.028 285.23);
  --color-gray-800: oklch(36.23% 0.026 285.06);
  --color-gray-900: oklch(28.57% 0.02 285.08);
  --color-gray-950: oklch(24.28% 0.015 285.24);
  --color-blue-50: oklch(96.66% 0.009 264.57);
  --color-blue-100: oklch(92.38% 0.02 264.49);
  --color-blue-200: oklch(84.59% 0.042 263);
  --color-blue-300: oklch(76.69% 0.067 262);
  --color-blue-400: oklch(69.75% 0.089 258.88);
  --color-blue-500: oklch(62.1% 0.093 257.2);
  --color-blue-600: oklch(54.33% 0.08 256.98);
  --color-blue-700: oklch(46.62% 0.069 256.45);
  --color-blue-800: oklch(38.69% 0.058 257.31);
  --color-blue-900: oklch(31.43% 0.047 257.43);
  --color-blue-950: oklch(22.4% 0.033 256.35);
  --color-indigo-50: oklch(96.46% 0.011 252.08);
  --color-indigo-100: oklch(93.08% 0.024 248.08);
  --color-indigo-200: oklch(85.24% 0.054 245);
  --color-indigo-300: oklch(78.24% 0.082 242.45);
  --color-indigo-400: oklch(70.29% 0.097 241);
  --color-indigo-500: oklch(63.35% 0.087 240.8);
  --color-indigo-600: oklch(55.84% 0.076 239.77);
  --color-indigo-700: oklch(48.91% 0.067 241.09);
  --color-indigo-800: oklch(41.25% 0.057 240.77);
  --color-indigo-900: oklch(27.44% 0.038 239.31);
  --color-indigo-950: oklch(20.6% 0.028 241.02);
  --color-aqua-50: oklch(96.24% 0.027 173.67);
  --color-aqua-100: oklch(92.47% 0.056 175.1);
  --color-aqua-200: oklch(84.51% 0.067 175.45);
  --color-aqua-300: oklch(77.69% 0.063 174.93);
  --color-aqua-400: oklch(70.87% 0.056 174.98);
  --color-aqua-500: oklch(63.48% 0.05 175.4);
  --color-aqua-600: oklch(53.64% 0.042 176.86);
  --color-aqua-700: oklch(43.61% 0.035 174.25);
  --color-aqua-800: oklch(33.39% 0.027 173.05);
  --color-aqua-900: oklch(23.87% 0.019 178.62);
  --color-aqua-950: oklch(18.59% 0.014 179.35);
  --color-eggplant-50: oklch(96.53% 0.006 3.7);
  --color-eggplant-100: oklch(92.31% 0.014 0.43);
  --color-eggplant-200: oklch(85.61% 0.026 5.82);
  --color-eggplant-300: oklch(78.24% 0.044 5.42);
  --color-eggplant-400: oklch(71.47% 0.063 5.78);
  --color-eggplant-500: oklch(64.1% 0.09 6);
  --color-eggplant-600: oklch(57.14% 0.091 5.44);
  --color-eggplant-700: oklch(49.26% 0.077 6.45);
  --color-eggplant-800: oklch(41.39% 0.064 5.94);
  --color-eggplant-900: oklch(34.17% 0.054 6.02);
  --color-eggplant-950: oklch(30.35% 0.048 5.78);
  --color-green-50: oklch(96.14% 0.034 137.02);
  --color-green-100: oklch(92.26% 0.076 136.97);
  --color-green-200: oklch(84.54% 0.094 136.62);
  --color-green-300: oklch(77.55% 0.085 136.58);
  --color-green-400: oklch(69.99% 0.078 136.73);
  --color-green-500: oklch(63.22% 0.07 136.91);
  --color-green-600: oklch(53.01% 0.059 136.65);
  --color-green-700: oklch(43.64% 0.049 136.59);
  --color-green-800: oklch(33.37% 0.037 137.59);
  --color-green-900: oklch(23.9% 0.026 137.97);
  --color-green-950: oklch(18.61% 0.02 135.41);
  --color-pink-50: oklch(96.59% 0.011 17.51);
  --color-pink-100: oklch(92.45% 0.024 17.67);
  --color-pink-200: oklch(85.13% 0.053 18.27);
  --color-pink-300: oklch(77.7% 0.087 18.36);
  --color-pink-400: oklch(70.58% 0.126 20.15);
  --color-pink-500: oklch(63.27% 0.175 22.36);
  --color-pink-600: oklch(55.94% 0.167 23.09);
  --color-pink-700: oklch(45.58% 0.137 22.79);
  --color-pink-800: oklch(34.9% 0.105 22.9);
  --color-pink-900: oklch(25.21% 0.075 23.13);
  --color-pink-950: oklch(19.48% 0.059 22.58);
  --color-earth-yellow-50: oklch(95.88% 0.019 62.47);
  --color-earth-yellow-100: oklch(92.37% 0.035 60.42);
  --color-earth-yellow-200: oklch(83.95% 0.088 67.83);
  --color-earth-yellow-300: oklch(75.95% 0.107 70.87);
  --color-earth-yellow-400: oklch(66.68% 0.094 70.37);
  --color-earth-yellow-500: oklch(58.03% 0.082 71.3);
  --color-earth-yellow-600: oklch(49.54% 0.07 71.17);
  --color-earth-yellow-700: oklch(40.78% 0.058 69.83);
  --color-earth-yellow-800: oklch(31.25% 0.044 70.62);
  --color-earth-yellow-900: oklch(22.45% 0.032 71.12);
  --color-earth-yellow-950: oklch(17.73% 0.025 70.6);
  --color-red-50: oklch(95.96% 0.018 17.57);
  --color-red-100: oklch(91.88% 0.037 17.88);
  --color-red-200: oklch(83.73% 0.081 18.92);
  --color-red-300: oklch(75.62% 0.131 20.63);
  --color-red-400: oklch(67.86% 0.19 23.67);
  --color-red-500: oklch(59.77% 0.227 27.65);
  --color-red-600: oklch(50.67% 0.192 27.62);
  --color-red-700: oklch(41.54% 0.157 27.62);
  --color-red-800: oklch(32.5% 0.124 27.71);
  --color-red-900: oklch(23.66% 0.089 27.49);
  --color-red-950: oklch(18.62% 0.07 27.45);
  --color-peach-50: oklch(96.72% 0.018 48.57);
  --color-peach-100: oklch(92.57% 0.042 49.78);
  --color-peach-200: oklch(85.14% 0.093 53.96);
  --color-peach-300: oklch(78.27% 0.158 61.68);
  --color-peach-400: oklch(69.13% 0.156 64.04);
  --color-peach-500: oklch(60.38% 0.137 63.51);
  --color-peach-600: oklch(50.7% 0.115 63.44);
  --color-peach-700: oklch(42.04% 0.095 64.31);
  --color-peach-800: oklch(32.34% 0.073 63.83);
  --color-peach-900: oklch(23.59% 0.053 64.85);
  --color-peach-950: oklch(18.07% 0.041 63.61);
  --color-violet-50: oklch(96.63% 0.007 295.67);
  --color-violet-100: oklch(92.24% 0.017 301.3);
  --color-violet-200: oklch(85.56% 0.033 301.57);
  --color-violet-300: oklch(77.98% 0.052 301.68);
  --color-violet-400: oklch(71.36% 0.068 301.61);
  --color-violet-500: oklch(63.8% 0.087 301.71);
  --color-violet-600: oklch(54.55% 0.107 301.96);
  --color-violet-700: oklch(43.96% 0.091 302.09);
  --color-violet-800: oklch(34.35% 0.071 302.45);
  --color-violet-900: oklch(23.87% 0.048 301.29);
  --color-violet-950: oklch(19.25% 0.038 299.79);
  --color-rosy-brown-50: oklch(95.65% 0.007 29.05);
  --color-rosy-brown-100: oklch(92.34% 0.013 41.27);
  --color-rosy-brown-200: oklch(83.89% 0.031 40.89);
  --color-rosy-brown-300: oklch(76.34% 0.052 42.92);
  --color-rosy-brown-400: oklch(68.06% 0.06 43.3);
  --color-rosy-brown-500: oklch(59.14% 0.052 43.1);
  --color-rosy-brown-600: oklch(50.34% 0.045 42.14);
  --color-rosy-brown-700: oklch(40.86% 0.036 44.61);
  --color-rosy-brown-800: oklch(32.25% 0.028 43.44);
  --color-rosy-brown-900: oklch(22.55% 0.02 45.6);
  --color-rosy-brown-950: oklch(17.79% 0.015 41.51);
  --color-honeydew-50: oklch(97.33% 0.004 156.66);
  --color-honeydew-100: oklch(95.6% 0.008 145.27);
  --color-honeydew-200: oklch(90.37% 0.02 147.74);
  --color-honeydew-300: oklch(80.79% 0.02 147.72);
  --color-honeydew-400: oklch(71.42% 0.018 145.3);
  --color-honeydew-500: oklch(62.02% 0.016 148.57);
  --color-honeydew-600: oklch(52.33% 0.013 149.61);
  --color-honeydew-700: oklch(42.14% 0.01 145.31);
  --color-honeydew-800: oklch(32.76% 0.009 145.3);
  --color-honeydew-900: oklch(23.21% 0.005 145.32);
  --color-honeydew-950: oklch(18.82% 0.005 145.3);
}
