@theme {
  --color-gray-50: oklch(96.52% 0.002 326.82);
  --color-gray-100: oklch(92.33% 0.003 309.03);
  --color-gray-200: oklch(85.5% 0.006 318.03);
  --color-gray-300: oklch(77.61% 0.011 316.62);
  --color-gray-400: oklch(70.03% 0.013 317.84);
  --color-gray-500: oklch(63.03% 0.017 319.53);
  --color-gray-600: oklch(55.36% 0.015 314.77);
  --color-gray-700: oklch(47.56% 0.013 321.44);
  --color-gray-800: oklch(40.53% 0.013 316.49);
  --color-gray-900: oklch(32.96% 0.008 317.81);
  --color-gray-950: oklch(28.98% 0.008 317.79);
  --color-red-50: oklch(95.9% 0.021 6.7);
  --color-red-100: oklch(92.71% 0.038 7.87);
  --color-red-200: oklch(85.58% 0.081 7.41);
  --color-red-300: oklch(77.6% 0.137 7.63);
  --color-red-400: oklch(70.58% 0.194 8.46);
  --color-red-500: oklch(62.82% 0.251 9.4);
  --color-red-600: oklch(52.67% 0.211 9.35);
  --color-red-700: oklch(43.68% 0.175 9.54);
  --color-red-800: oklch(33.55% 0.134 8.97);
  --color-red-900: oklch(24.49% 0.098 9.43);
  --color-red-950: oklch(18.76% 0.075 9.11);
  --color-orange-50: oklch(95.82% 0.02 37.09);
  --color-orange-100: oklch(92.65% 0.037 38.71);
  --color-orange-200: oklch(85.32% 0.08 40.95);
  --color-orange-300: oklch(77.37% 0.136 46.2);
  --color-orange-400: oklch(68.72% 0.166 51.86);
  --color-orange-500: oklch(59.87% 0.145 51.89);
  --color-orange-600: oklch(50.22% 0.121 51.92);
  --color-orange-700: oklch(41.37% 0.101 51.11);
  --color-orange-800: oklch(32.56% 0.079 51.24);
  --color-orange-900: oklch(22.93% 0.055 52.29);
  --color-orange-950: oklch(18.01% 0.043 51.62);
  --color-yellow-50: oklch(97.51% 0.027 85.64);
  --color-yellow-100: oklch(94.84% 0.056 85.57);
  --color-yellow-200: oklch(89.39% 0.139 90.46);
  --color-yellow-300: oklch(80.18% 0.164 92.78);
  --color-yellow-400: oklch(70.73% 0.145 92.81);
  --color-yellow-500: oklch(61.27% 0.125 92.96);
  --color-yellow-600: oklch(51.77% 0.106 93.34);
  --color-yellow-700: oklch(42.28% 0.087 93.2);
  --color-yellow-800: oklch(32.72% 0.067 91.92);
  --color-yellow-900: oklch(23.34% 0.048 94.37);
  --color-yellow-950: oklch(17.56% 0.036 93.21);
  --color-green-50: oklch(95.86% 0.063 131.72);
  --color-green-100: oklch(90.95% 0.155 130.85);
  --color-green-200: oklch(83.61% 0.142 130.71);
  --color-green-300: oklch(74.89% 0.128 130.91);
  --color-green-400: oklch(66.29% 0.112 130.7);
  --color-green-500: oklch(57% 0.097 130.97);
  --color-green-600: oklch(48.42% 0.081 130.34);
  --color-green-700: oklch(39.98% 0.068 130.31);
  --color-green-800: oklch(31.49% 0.053 130.7);
  --color-green-900: oklch(22.03% 0.037 129.74);
  --color-green-950: oklch(17.46% 0.03 129.63);
  --color-blue-50: oklch(96.35% 0.025 209.19);
  --color-blue-100: oklch(91.56% 0.06 207.96);
  --color-blue-200: oklch(83.81% 0.095 205.64);
  --color-blue-300: oklch(75.09% 0.085 205.21);
  --color-blue-400: oklch(66.42% 0.076 205.64);
  --color-blue-500: oklch(57.13% 0.065 205.05);
  --color-blue-600: oklch(48.49% 0.055 205.63);
  --color-blue-700: oklch(40.06% 0.046 206.06);
  --color-blue-800: oklch(31.51% 0.036 203.98);
  --color-blue-900: oklch(22.05% 0.025 208.78);
  --color-blue-950: oklch(17.54% 0.019 207.8);
  --color-purple-50: oklch(96.58% 0.015 294.57);
  --color-purple-100: oklch(93.38% 0.03 292.13);
  --color-purple-200: oklch(86.7% 0.059 291.53);
  --color-purple-300: oklch(80.84% 0.087 290.99);
  --color-purple-400: oklch(74.09% 0.121 290.69);
  --color-purple-500: oklch(64.37% 0.17 289.41);
  --color-purple-600: oklch(55.49% 0.213 287.98);
  --color-purple-700: oklch(45.62% 0.223 286.39);
  --color-purple-800: oklch(35.64% 0.174 286.25);
  --color-purple-900: oklch(24.67% 0.121 286.52);
  --color-purple-950: oklch(19.96% 0.096 286.58);
}
