@theme {
  --color-gray-50: oklch(96.62% 0.003 247.8);
  --color-gray-100: oklch(92.16% 0.01 267.4);
  --color-gray-200: oklch(85.35% 0.018 264.49);
  --color-gray-300: oklch(77.52% 0.029 265.41);
  --color-gray-400: oklch(69.85% 0.041 265.72);
  --color-gray-500: oklch(62.18% 0.044 263.51);
  --color-gray-600: oklch(55.17% 0.04 265.73);
  --color-gray-700: oklch(47.42% 0.033 265.17);
  --color-gray-800: oklch(39.67% 0.027 262.98);
  --color-gray-900: oklch(32.44% 0.023 264.19);
  --color-gray-950: oklch(23.46% 0.017 264.19);
  --color-seafoam-50: oklch(96.24% 0.024 196.68);
  --color-seafoam-100: oklch(91.61% 0.058 194.81);
  --color-seafoam-200: oklch(83.79% 0.052 194.64);
  --color-seafoam-300: oklch(76.29% 0.048 194.46);
  --color-seafoam-400: oklch(67.68% 0.043 194.19);
  --color-seafoam-500: oklch(58.19% 0.036 193.77);
  --color-seafoam-600: oklch(49.63% 0.031 193.23);
  --color-seafoam-700: oklch(40.31% 0.025 192.35);
  --color-seafoam-800: oklch(31.57% 0.02 196.16);
  --color-seafoam-900: oklch(22.19% 0.013 196.22);
  --color-seafoam-950: oklch(17.5% 0.011 196.18);
  --color-teal-50: oklch(96.38% 0.012 223.43);
  --color-teal-100: oklch(92.05% 0.029 218.15);
  --color-teal-200: oklch(84.69% 0.061 218.84);
  --color-teal-300: oklch(77.46% 0.062 217.45);
  --color-teal-400: oklch(68.59% 0.055 216.42);
  --color-teal-500: oklch(59.12% 0.047 216.71);
  --color-teal-600: oklch(50.59% 0.041 216.56);
  --color-teal-700: oklch(41.02% 0.033 217.04);
  --color-teal-800: oklch(31.6% 0.026 220.6);
  --color-teal-900: oklch(22.99% 0.019 220.59);
  --color-teal-950: oklch(17.47% 0.015 220.62);
  --color-blue-50: oklch(96.53% 0.007 247.87);
  --color-blue-100: oklch(92.18% 0.016 253.91);
  --color-blue-200: oklch(84.45% 0.032 251.15);
  --color-blue-300: oklch(77.56% 0.049 250.38);
  --color-blue-400: oklch(69.65% 0.059 248.68);
  --color-blue-500: oklch(60.25% 0.052 248.69);
  --color-blue-600: oklch(50.76% 0.043 247.47);
  --color-blue-700: oklch(41.27% 0.036 248.7);
  --color-blue-800: oklch(32.72% 0.027 248.65);
  --color-blue-900: oklch(23.09% 0.019 248.67);
  --color-blue-950: oklch(17.53% 0.015 253.23);
  --color-red-50: oklch(95.84% 0.009 17.51);
  --color-red-100: oklch(92.42% 0.015 12.56);
  --color-red-200: oklch(84.1% 0.035 13.5);
  --color-red-300: oklch(76.5% 0.058 13.08);
  --color-red-400: oklch(68.26% 0.089 14.27);
  --color-red-500: oklch(60.61% 0.121 15.35);
  --color-red-600: oklch(51.21% 0.102 15.57);
  --color-red-700: oklch(42.38% 0.084 15.07);
  --color-red-800: oklch(32.67% 0.066 15.74);
  --color-red-900: oklch(23.94% 0.047 16.94);
  --color-red-950: oklch(18.18% 0.035 14.84);
  --color-orange-50: oklch(95.78% 0.009 34.44);
  --color-orange-100: oklch(92.47% 0.018 30.34);
  --color-orange-200: oklch(84.94% 0.039 33.89);
  --color-orange-300: oklch(76.63% 0.069 35.81);
  --color-orange-400: oklch(69.29% 0.096 38.25);
  --color-orange-500: oklch(60.31% 0.084 37.79);
  --color-orange-600: oklch(50.7% 0.07 38.84);
  --color-orange-700: oklch(42.09% 0.059 39.2);
  --color-orange-800: oklch(32.3% 0.046 36.17);
  --color-orange-900: oklch(23.7% 0.033 38.28);
  --color-orange-950: oklch(17.81% 0.026 36.81);
  --color-yellow-50: oklch(97.48% 0.012 79.76);
  --color-yellow-100: oklch(94.8% 0.026 76.78);
  --color-yellow-200: oklch(90.56% 0.053 81.14);
  --color-yellow-300: oklch(85.49% 0.089 84.08);
  --color-yellow-400: oklch(75.21% 0.079 84.48);
  --color-yellow-500: oklch(64.69% 0.068 83.6);
  --color-yellow-600: oklch(54.28% 0.056 84.1);
  --color-yellow-700: oklch(44.85% 0.047 84.83);
  --color-yellow-800: oklch(34.54% 0.036 85.12);
  --color-yellow-900: oklch(24.22% 0.025 85.82);
  --color-yellow-950: oklch(18.97% 0.02 84.1);
  --color-green-50: oklch(96.11% 0.038 131.77);
  --color-green-100: oklch(91.53% 0.089 131.34);
  --color-green-200: oklch(84.6% 0.082 130.89);
  --color-green-300: oklch(76.83% 0.075 131.05);
  --color-green-400: oklch(67.64% 0.066 130.87);
  --color-green-500: oklch(59.07% 0.058 131.6);
  --color-green-600: oklch(49.55% 0.049 131.47);
  --color-green-700: oklch(41.01% 0.04 130.4);
  --color-green-800: oklch(31.53% 0.03 131.82);
  --color-green-900: oklch(22.93% 0.022 131.24);
  --color-green-950: oklch(17.48% 0.017 129.62);
  --color-purple-50: oklch(95.71% 0.007 332.41);
  --color-purple-100: oklch(92.49% 0.013 333.21);
  --color-purple-200: oklch(84.86% 0.028 333.4);
  --color-purple-300: oklch(77.23% 0.044 333.42);
  --color-purple-400: oklch(69.21% 0.062 332.69);
  --color-purple-500: oklch(60.33% 0.065 332.91);
  --color-purple-600: oklch(50.82% 0.055 333.29);
  --color-purple-700: oklch(41.99% 0.045 332.23);
  --color-purple-800: oklch(32.39% 0.036 332.27);
  --color-purple-900: oklch(23.7% 0.026 332.25);
  --color-purple-950: oklch(17.91% 0.02 334.53);
}
