@theme {
  --color-gray-50: oklch(96.5% 0.004 286.63);
  --color-gray-100: oklch(92.18% 0.007 268.62);
  --color-gray-200: oklch(85.36% 0.015 264.51);
  --color-gray-300: oklch(77.54% 0.023 265.74);
  --color-gray-400: oklch(69.79% 0.031 264.36);
  --color-gray-500: oklch(62.92% 0.034 265.2);
  --color-gray-600: oklch(55.09% 0.03 264.3);
  --color-gray-700: oklch(48.41% 0.026 263.06);
  --color-gray-800: oklch(40.46% 0.022 264.3);
  --color-gray-900: oklch(32.78% 0.017 262.26);
  --color-gray-950: oklch(29.25% 0.016 264.3);
  --color-red-50: oklch(95.88% 0.013 11.69);
  --color-red-100: oklch(91.74% 0.027 14.83);
  --color-red-200: oklch(83.53% 0.059 14.49);
  --color-red-300: oklch(75.3% 0.098 14.85);
  --color-red-400: oklch(67.09% 0.145 17.01);
  --color-red-500: oklch(58.98% 0.169 18.4);
  --color-red-600: oklch(50% 0.143 18.71);
  --color-red-700: oklch(41.12% 0.117 18.53);
  --color-red-800: oklch(32.1% 0.092 18.57);
  --color-red-900: oklch(23.34% 0.067 18.5);
  --color-red-950: oklch(18.24% 0.053 17.69);
  --color-green-50: oklch(96.08% 0.05 133.36);
  --color-green-100: oklch(91.17% 0.132 133.19);
  --color-green-200: oklch(84.35% 0.121 133.29);
  --color-green-300: oklch(76.83% 0.11 132.99);
  --color-green-400: oklch(68.18% 0.098 132.9);
  --color-green-500: oklch(58.67% 0.083 132.83);
  --color-green-600: oklch(49.36% 0.07 132.65);
  --color-green-700: oklch(40.85% 0.059 133.25);
  --color-green-800: oklch(31.59% 0.047 133.65);
  --color-green-900: oklch(22.95% 0.032 132.34);
  --color-green-950: oklch(17.52% 0.026 132.66);
  --color-yellow-50: oklch(97.53% 0.014 78.24);
  --color-yellow-100: oklch(94.04% 0.032 76.44);
  --color-yellow-200: oklch(88.01% 0.073 80.23);
  --color-yellow-300: oklch(82.49% 0.097 82.25);
  --color-yellow-400: oklch(72.47% 0.085 81.6);
  --color-yellow-500: oklch(63.04% 0.074 81.62);
  --color-yellow-600: oklch(52.8% 0.063 82.72);
  --color-yellow-700: oklch(43.23% 0.051 83.13);
  --color-yellow-800: oklch(33.6% 0.039 81.89);
  --color-yellow-900: oklch(23.19% 0.027 80.74);
  --color-yellow-950: oklch(18.65% 0.021 79.98);
  --color-peach-50: oklch(96.65% 0.013 56.3);
  --color-peach-100: oklch(93.31% 0.026 56.07);
  --color-peach-200: oklch(86.57% 0.055 59.84);
  --color-peach-300: oklch(79.91% 0.097 63.16);
  --color-peach-400: oklch(72.73% 0.095 63.82);
  --color-peach-500: oklch(62.56% 0.082 63.48);
  --color-peach-600: oklch(52.96% 0.069 63.83);
  --color-peach-700: oklch(43.39% 0.057 63.4);
  --color-peach-800: oklch(34% 0.044 64.06);
  --color-peach-900: oklch(23.48% 0.031 65.39);
  --color-peach-950: oklch(18.82% 0.024 62.96);
  --color-blue-50: oklch(96.52% 0.014 258.36);
  --color-blue-100: oklch(92.97% 0.028 256.49);
  --color-blue-200: oklch(86.97% 0.053 252.8);
  --color-blue-300: oklch(80.07% 0.085 248.93);
  --color-blue-400: oklch(73.04% 0.121 245.29);
  --color-blue-500: oklch(63.45% 0.117 244.63);
  --color-blue-600: oklch(53.27% 0.096 243.86);
  --color-blue-700: oklch(43.77% 0.08 244.47);
  --color-blue-800: oklch(33.6% 0.061 243.59);
  --color-blue-900: oklch(24% 0.045 245.85);
  --color-blue-950: oklch(18.83% 0.033 242.21);
  --color-magenta-50: oklch(95.96% 0.019 317.84);
  --color-magenta-100: oklch(92.63% 0.035 315.78);
  --color-magenta-200: oklch(84.5% 0.077 317.06);
  --color-magenta-300: oklch(77.27% 0.117 317.64);
  --color-magenta-400: oklch(69.36% 0.164 318.22);
  --color-magenta-500: oklch(61.03% 0.195 318.88);
  --color-magenta-600: oklch(51.22% 0.164 318.9);
  --color-magenta-700: oklch(42.06% 0.135 318.7);
  --color-magenta-800: oklch(33.15% 0.107 318.69);
  --color-magenta-900: oklch(23.27% 0.074 319.43);
  --color-magenta-950: oklch(18.45% 0.059 318.21);
  --color-cyan-50: oklch(96.28% 0.026 208.68);
  --color-cyan-100: oklch(92.46% 0.055 209.01);
  --color-cyan-200: oklch(85.06% 0.107 206.56);
  --color-cyan-300: oklch(79.05% 0.1 206.79);
  --color-cyan-400: oklch(72.31% 0.092 206.3);
  --color-cyan-500: oklch(62.11% 0.078 206.42);
  --color-cyan-600: oklch(52.69% 0.067 206.14);
  --color-cyan-700: oklch(42.56% 0.053 206.06);
  --color-cyan-800: oklch(33.21% 0.042 207.47);
  --color-cyan-900: oklch(23.09% 0.029 206.76);
  --color-cyan-950: oklch(18.62% 0.024 205.13);
}
