@theme {
  --color-gray-50: oklch(95.7% 0.005 298.01);
  --color-gray-100: oklch(92.36% 0.008 286.38);
  --color-gray-200: oklch(84.65% 0.017 289.95);
  --color-gray-300: oklch(76.85% 0.026 293.49);
  --color-gray-400: oklch(68.36% 0.035 291.21);
  --color-gray-500: oklch(60.69% 0.044 291.38);
  --color-gray-600: oklch(53.09% 0.051 291.5);
  --color-gray-700: oklch(45.32% 0.054 291.06);
  --color-gray-800: oklch(37.52% 0.044 291.18);
  --color-gray-900: oklch(29.68% 0.034 291.42);
  --color-gray-950: oklch(25.33% 0.03 289.82);
  --color-love-50: oklch(95.88% 0.017 3.77);
  --color-love-100: oklch(92.62% 0.029 4.61);
  --color-love-200: oklch(84.4% 0.068 3.49);
  --color-love-300: oklch(77.32% 0.107 4.21);
  --color-love-400: oklch(69.77% 0.156 4.24);
  --color-love-500: oklch(61.25% 0.197 4.53);
  --color-love-600: oklch(52.12% 0.168 4.57);
  --color-love-700: oklch(42.38% 0.136 4.33);
  --color-love-800: oklch(33.36% 0.107 4.8);
  --color-love-900: oklch(23.25% 0.075 4.58);
  --color-love-950: oklch(18.45% 0.058 5.19);
  --color-gold-50: oklch(95.86% 0.023 69.6);
  --color-gold-100: oklch(92.37% 0.043 67.25);
  --color-gold-200: oklch(84.29% 0.11 74.6);
  --color-gold-300: oklch(75.33% 0.119 76.16);
  --color-gold-400: oklch(66.68% 0.106 76.64);
  --color-gold-500: oklch(58.08% 0.093 77.35);
  --color-gold-600: oklch(49.4% 0.079 76.22);
  --color-gold-700: oklch(39.82% 0.064 75.47);
  --color-gold-800: oklch(31.16% 0.05 76.13);
  --color-gold-900: oklch(22.39% 0.035 75.67);
  --color-gold-950: oklch(17.67% 0.029 76.69);
  --color-rose-50: oklch(97.56% 0.008 17.52);
  --color-rose-100: oklch(94.07% 0.017 17.56);
  --color-rose-200: oklch(89.16% 0.034 20.13);
  --color-rose-300: oklch(83.63% 0.054 21.17);
  --color-rose-400: oklch(74.51% 0.096 22.81);
  --color-rose-500: oklch(64.68% 0.154 26.5);
  --color-rose-600: oklch(55.09% 0.139 26.42);
  --color-rose-700: oklch(44.41% 0.113 26.85);
  --color-rose-800: oklch(34.64% 0.087 26.48);
  --color-rose-900: oklch(24.09% 0.06 27.12);
  --color-rose-950: oklch(19.39% 0.05 26.87);
  --color-pine-50: oklch(95.57% 0.02 233.81);
  --color-pine-100: oklch(91.96% 0.037 235.45);
  --color-pine-200: oklch(84.04% 0.081 230.61);
  --color-pine-300: oklch(75.96% 0.115 227.9);
  --color-pine-400: oklch(68.19% 0.103 228.31);
  --color-pine-500: oklch(60.72% 0.091 227.53);
  --color-pine-600: oklch(52.77% 0.079 227.7);
  --color-pine-700: oklch(42.72% 0.064 226.59);
  --color-pine-800: oklch(33.24% 0.05 227.25);
  --color-pine-900: oklch(23% 0.035 228.56);
  --color-pine-950: oklch(18.49% 0.029 229.61);
  --color-foam-50: oklch(97.3% 0.01 212.38);
  --color-foam-100: oklch(93.68% 0.025 212.18);
  --color-foam-200: oklch(88.31% 0.049 209.28);
  --color-foam-300: oklch(82.19% 0.054 209.53);
  --color-foam-400: oklch(72.83% 0.048 209.93);
  --color-foam-500: oklch(62.52% 0.041 208.81);
  --color-foam-600: oklch(53.06% 0.035 208.82);
  --color-foam-700: oklch(42.86% 0.029 209.35);
  --color-foam-800: oklch(33.49% 0.023 209.54);
  --color-foam-900: oklch(23.06% 0.015 211.22);
  --color-foam-950: oklch(18.81% 0.012 205.71);
  --color-iris-50: oklch(95.84% 0.015 302.67);
  --color-iris-100: oklch(92.53% 0.029 303.12);
  --color-iris-200: oklch(84.98% 0.062 305.17);
  --color-iris-300: oklch(77.6% 0.094 305.01);
  --color-iris-400: oklch(69.41% 0.132 305.19);
  --color-iris-500: oklch(60.55% 0.175 305.94);
  --color-iris-600: oklch(52.12% 0.177 305.98);
  --color-iris-700: oklch(42.31% 0.143 306.35);
  --color-iris-800: oklch(33.25% 0.114 306.28);
  --color-iris-900: oklch(23.3% 0.081 305.64);
  --color-iris-950: oklch(18.57% 0.062 306.59);
}
