@theme {
  --color-base-blue-50: oklch(96.32% 0.022 230.49);
  --color-base-blue-100: oklch(91.88% 0.051 226.51);
  --color-base-blue-200: oklch(83.56% 0.116 221.97);
  --color-base-blue-300: oklch(75.6% 0.138 220.17);
  --color-base-blue-400: oklch(67.94% 0.123 219.62);
  --color-base-blue-500: oklch(61.29% 0.111 219.05);
  --color-base-blue-600: oklch(53.58% 0.097 219.61);
  --color-base-blue-700: oklch(45.9% 0.084 220.2);
  --color-base-blue-800: oklch(38.17% 0.069 219.58);
  --color-base-blue-900: oklch(30.43% 0.055 219.92);
  --color-base-blue-950: oklch(26.73% 0.049 219.8);
  --color-gray-50: oklch(95.55% 0.011 225.89);
  --color-gray-100: oklch(92.01% 0.02 220.82);
  --color-gray-200: oklch(84.02% 0.043 218.92);
  --color-gray-300: oklch(75.41% 0.041 218.86);
  --color-gray-400: oklch(67.67% 0.036 220.06);
  --color-gray-500: oklch(59.96% 0.033 220.88);
  --color-gray-600: oklch(52.3% 0.028 219.11);
  --color-gray-700: oklch(42.97% 0.023 217.54);
  --color-gray-800: oklch(32.67% 0.019 218.48);
  --color-gray-900: oklch(23.23% 0.012 214.6);
  --color-gray-950: oklch(18.59% 0.01 220.07);
  --color-brown-50: oklch(96.43% 0.011 89.66);
  --color-brown-100: oklch(93.06% 0.026 92.37);
  --color-brown-200: oklch(84.48% 0.036 92.84);
  --color-brown-300: oklch(75.7% 0.032 92.37);
  --color-brown-400: oklch(66.3% 0.028 92.48);
  --color-brown-500: oklch(57.61% 0.023 91.68);
  --color-brown-600: oklch(49.23% 0.021 92.84);
  --color-brown-700: oklch(40.51% 0.017 93.18);
  --color-brown-800: oklch(30.99% 0.013 87.55);
  --color-brown-900: oklch(22.29% 0.008 84.57);
  --color-brown-950: oklch(17.73% 0.008 95.49);
  --color-yellow-50: oklch(95.71% 0.033 73.2);
  --color-yellow-100: oklch(91.6% 0.075 78.4);
  --color-yellow-200: oklch(83.02% 0.17 85.38);
  --color-yellow-300: oklch(74.36% 0.152 85.52);
  --color-yellow-400: oklch(65.45% 0.134 85.71);
  --color-yellow-500: oklch(56.99% 0.117 85.72);
  --color-yellow-600: oklch(48.53% 0.099 85.95);
  --color-yellow-700: oklch(39.82% 0.082 85.32);
  --color-yellow-800: oklch(31.22% 0.064 86.36);
  --color-yellow-900: oklch(22.53% 0.046 87.03);
  --color-yellow-950: oklch(17.86% 0.037 87.71);
  --color-orange-50: oklch(95.9% 0.019 25.68);
  --color-orange-100: oklch(91.92% 0.04 27.53);
  --color-orange-200: oklch(83.77% 0.086 28.75);
  --color-orange-300: oklch(75.66% 0.141 32.69);
  --color-orange-400: oklch(66.73% 0.199 39.53);
  --color-orange-500: oklch(58.08% 0.173 39.5);
  --color-orange-600: oklch(48.93% 0.146 39.61);
  --color-orange-700: oklch(40.85% 0.122 39.33);
  --color-orange-800: oklch(31.97% 0.096 39.54);
  --color-orange-900: oklch(23.19% 0.069 38.76);
  --color-orange-950: oklch(18.21% 0.055 38.66);
  --color-red-50: oklch(95.88% 0.017 17.56);
  --color-red-100: oklch(91.71% 0.034 17.84);
  --color-red-200: oklch(83.52% 0.075 18.79);
  --color-red-300: oklch(74.79% 0.127 21.13);
  --color-red-400: oklch(66.91% 0.184 24.23);
  --color-red-500: oklch(58.63% 0.206 27.12);
  --color-red-600: oklch(49.44% 0.174 27.27);
  --color-red-700: oklch(40.4% 0.143 27.19);
  --color-red-800: oklch(32.26% 0.114 26.95);
  --color-red-900: oklch(23.39% 0.082 27.28);
  --color-red-950: oklch(18.37% 0.065 26.54);
  --color-magenta-50: oklch(95.93% 0.017 355.23);
  --color-magenta-100: oklch(91.8% 0.038 355.17);
  --color-magenta-200: oklch(83.82% 0.079 356.56);
  --color-magenta-300: oklch(75.8% 0.13 356.05);
  --color-magenta-400: oklch(67.97% 0.191 355.98);
  --color-magenta-500: oklch(59.24% 0.202 355.9);
  --color-magenta-600: oklch(50.65% 0.173 356.11);
  --color-magenta-700: oklch(41.49% 0.141 356.08);
  --color-magenta-800: oklch(32.45% 0.111 355.75);
  --color-magenta-900: oklch(23.57% 0.08 356.61);
  --color-magenta-950: oklch(18.68% 0.063 355.92);
  --color-violet-50: oklch(95.77% 0.012 286.27);
  --color-violet-100: oklch(91.43% 0.024 283.41);
  --color-violet-200: oklch(83.01% 0.049 282.71);
  --color-violet-300: oklch(74.49% 0.076 281.86);
  --color-violet-400: oklch(67.04% 0.1 280.74);
  --color-violet-500: oklch(58.23% 0.126 279.11);
  --color-violet-600: oklch(50.1% 0.145 277.03);
  --color-violet-700: oklch(40.48% 0.129 275.73);
  --color-violet-800: oklch(31.73% 0.101 276.06);
  --color-violet-900: oklch(22.81% 0.074 275.6);
  --color-violet-950: oklch(18.13% 0.056 276.2);
  --color-blue-50: oklch(96.48% 0.015 257.2);
  --color-blue-100: oklch(92.28% 0.035 256.34);
  --color-blue-200: oklch(84.4% 0.074 254.22);
  --color-blue-300: oklch(76.52% 0.116 249.92);
  --color-blue-400: oklch(68.74% 0.155 244.73);
  --color-blue-500: oklch(61.49% 0.139 244.92);
  --color-blue-600: oklch(51.64% 0.117 244.92);
  --color-blue-700: oklch(41.99% 0.095 244.81);
  --color-blue-800: oklch(32.53% 0.074 245.06);
  --color-blue-900: oklch(23.09% 0.053 244.73);
  --color-blue-950: oklch(18.89% 0.042 244.75);
  --color-cyan-50: oklch(94.86% 0.07 187.2);
  --color-cyan-100: oklch(89.69% 0.142 187.17);
  --color-cyan-200: oklch(81.21% 0.129 187.39);
  --color-cyan-300: oklch(72.74% 0.115 187.02);
  --color-cyan-400: oklch(64.37% 0.102 187.37);
  --color-cyan-500: oklch(55.71% 0.088 187.87);
  --color-cyan-600: oklch(47.28% 0.075 187.52);
  --color-cyan-700: oklch(38.82% 0.061 187.03);
  --color-cyan-800: oklch(30.55% 0.049 186.45);
  --color-cyan-900: oklch(22.08% 0.035 185.42);
  --color-cyan-950: oklch(17.31% 0.028 186.49);
  --color-green-50: oklch(94.56% 0.209 118.58);
  --color-green-100: oklch(90.15% 0.211 118.48);
  --color-green-200: oklch(81.79% 0.191 118.61);
  --color-green-300: oklch(73.2% 0.172 118.77);
  --color-green-400: oklch(64.44% 0.151 118.59);
  --color-green-500: oklch(56.27% 0.132 118.65);
  --color-green-600: oklch(47.8% 0.112 118.73);
  --color-green-700: oklch(39.28% 0.092 118.76);
  --color-green-800: oklch(30.66% 0.072 118.69);
  --color-green-900: oklch(22.2% 0.052 118.17);
  --color-green-950: oklch(17.61% 0.041 118.69);
}
